<!-- <mat-sidenav-container class="btn-container">
  <mat-sidenav #sidenav mode="side">
    <p><a routerLink="/"><button mat-button (click)="sidenav.toggle()">首页</button></a></p>
    <p><a routerLink="/details"><button mat-button (click)="sidenav.toggle()">详细信息</button></a></p>
  </mat-sidenav>
  <mat-sidenav-content>
     <p><button mat-button (click)="sidenav.toggle()" class="cbl">切换侧栏</button></p>
    <guide-client-header></guide-client-header>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>  -->

<mat-drawer-container class="btn-container">
  <mat-drawer class="drawer-panpel" mode="side" opened>
    <p><a routerLink="/"><button mat-button>首页</button></a></p>
    <p><a routerLink="/details"><button mat-button>详细信息</button></a></p>
  </mat-drawer>
  <mat-drawer-content>
    <div class="title-panpel" (dblclick)="bigger()"></div>
    <!-- <p><button mat-button (click)="sidenav.toggle()" class="cbl">切换侧栏</button></p> -->
    <!-- <guide-client-header></guide-client-header> -->
    <div class="scrollT">
      <router-outlet ></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
