mat-sidenav {
  width: 100px;
  text-align: center;
}

.cbl {
  position: fixed;
  top: 5%;
  right: 5%;
}

.title-panpel {
  width:100%;
  height: 30px;
  background: purple;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 999;
  -webkit-app-region: drag;
  -webkit-user-select: none;
  // overflow-x: hidden;
}

.drawer-panpel {
  position: fixed;
  // width:80px;
  height:100%;
  top: 0;
  left: 0;
  background: grey;
  -webkit-app-region: drag;
}
mat-drawer-content{
  -webkit-app-region: no-drag;
}
.scrollT{
  width:97%;
  height:auto;
  overflow:auto;
  display:block;
  // -webkit-app-region: no-drag;
}
// .scrollT::-webkit-scrollbar{
//     width: 200px;
//     height: 16px;
//     background-color: rgb(241, 36, 36);
// }

// /*定义滚动条轨道 内阴影+圆角*/
// .scrollT::-webkit-scrollbar-track{
//     box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
//     border-radius: 10px;
//     background-color: #F5F5F5;
// }

// /*定义滑块 内阴影+圆角*/
// .scrollT::-webkit-scrollbar-thumb{
//     border-radius: 10px;
//     box-shadow: inset 0 0 6px rgba(0,0,0,.3);
//     background-color: #555;
// }
button {
  -webkit-app-region: no-drag;
}
