<div class="details">
  <div class="left">
    <mat-nav-list>
      <mat-list-item *ngFor="let item of items;let i=index">
        <div>
          {{item.name}}
          <mat-icon svgIcon="{{item.tubiao}}"></mat-icon>&nbsp;
        </div>
        <mat-icon svgIcon="{{item.shanchu}}" (click)="deleteItem(i)" class="icons"></mat-icon>
      </mat-list-item>
      <!-- <mat-list-item> -->
        <div id="placeholder">
          <a href="http://192.168.2.62:3000/editor?type=desktop&fileName={{docurl}}" target="_blank">
            <img src="assets/icons/doc.png" style="width:20px;height:20px;" alt="Open in viewer for full size screens" title="Open in viewer for full size screens" />
          </a>
          <a href="http://192.168.2.62:3000/editor?type=desktop&fileName={{docurl}}" target="_blank" style="font-size:12px;text-decoration:underline;">
            点我编辑.doc
          </a>
          <a href="http://192.168.2.62:3000/download?fileName=wky-prod.docx">
            <img  src="assets/icons/download.png" style="width:20px;height:20px;" alt="Download" title="Download"/>
          </a>
        </div>
      <!-- </mat-list-item> -->
    </mat-nav-list>
  </div>
  <div class="right">
    <form class="standardForm" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="firstInput">
        <input matInput placeholder="请输入一个标题" formControlName="titleName" required>
        <!--<mat-error class="feedback" *ngIf="f.titleName.errors"> 至少输入5个字符 </mat-error>-->
        <mat-error class="feedback"> 至少输入5个字符 </mat-error>
      </mat-form-field>
      <mat-form-field class="half-width">
        <input matInput placeholder="出生地" formControlName="home">
        <mat-error class="feedback"> 至少输入2个字符 </mat-error>
      </mat-form-field>
      <mat-form-field class="half-width">
        <input matInput placeholder="目前居住城市" formControlName="city">
        <mat-error class="feedback"> 至少输入2个字符 </mat-error>
      </mat-form-field>
      <mat-form-field class="half-width">
        <input matInput placeholder="目前职业" formControlName="work">
      </mat-form-field>
      <mat-form-field class="half-width">
        <input matInput placeholder="最高学历" formControlName="education">
      </mat-form-field>
      <mat-form-field class="half-width">
        <input matInput placeholder="出生年月日" formControlName="birthday">
        <mat-error class="feedback"> 填写格式必须为1990/0410 </mat-error>
      </mat-form-field>
      <mat-form-field class="half-width">
        <mat-select placeholder="sex" formControlName="sex">
          <mat-option value="男">男</mat-option>
          <mat-option value="女">女</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="half-width">
        <input matInput placeholder="身份类型" formControlName="identityCard">
      </mat-form-field>
      <mat-form-field class="half-width">
        <input matInput [matDatepicker]="picker" placeholder="开车时间" formControlName="dateForCar">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-card>
        <mat-card-content>
          <h2 class="example-h2">会说的语言</h2>
          <section class="guide-section">
            <mat-checkbox class="example-margin" *ngFor="let lang of langs">{{lang.language}}</mat-checkbox>
          </section>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content>
          <h2 class="example-h2">旅行专业服务</h2>
          <section class="guide-section">
            <mat-checkbox class="example-margin" *ngFor="let trav of travels">{{trav.travelService}}</mat-checkbox>
          </section>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content>
          <h2 class="example-h2">其他专业服务</h2>
          <section class="guide-section">
            <mat-checkbox class="example-margin" *ngFor="let other of others">{{other.otherService}}</mat-checkbox>
          </section>
        </mat-card-content>
      </mat-card>
      <mat-form-field class="example-chip-list">
        <mat-chip-list #chipList>
          <mat-chip *ngFor="let trip of trips" [selectable]="selectable" [removable]="removable" (removed)="remove(trip)">
            {{trip.name}}
            <mat-icon matChipRemove *ngIf="removable">home</mat-icon>
          </mat-chip>
          <input placeholder="请添加旅游标签" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
      </mat-form-field>
      <!--<p><button mat-raised-button  type="submit" [disabled]="registerForm.invalid" (click)="openDialog()"> submit</button></p>-->
      <p>
        <button type="button" (click)="sendWindow()" mat-button>打开新窗口</button>
        <button mat-raised-button mat-button type="submit" (click)="openBottomSheet()"> 资料提交</button>
        <button  mat-button type="button" (click)="sendUpdate()"> 点我更新</button>
      </p>
    </form>
  </div>
  <div class="primary-container">
    <guide-client-table [user]="user"></guide-client-table>
    <div><img src='./assets/officeicon.png' id="drag"><p>拖拽上边文档到桌面</p></div>
    <hr>
    <div id="holder">
      【未更新版本】拖拽你的文件到这里！
    </div>
</div>
